/* font section */

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}

/* universal */
* {
    margin: 0;
    padding: 0;
}

/* banner section */
.banner-bg {

    border: 0px solid red;
    border-radius: 17px;
    width: 1320px;
    height: 600px;
    background-image: url(images/Banner\ Image.png);
    background-size: contain;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
}

.banner-text {
    text-align: center;
    margin: 0 auto;
    margin-top: 227px;
}

.banner-p {
    color: white;
    font-size: 32px;
}

.banner-h1 {
    color: white;
    font-size: 72px;
}

.banner-shadow {
    background: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0.1));
    border-radius: 18px;
    padding: 50px;
    position: relative;
}

/* discount section */
.discount {
    text-align: center;
    margin: 120px;

}

.discount-h1 {
    font-size: 88px;
    color: red;
    font-weight: 700;
}

.discount-p {
    font-size: 24px;
    color: red;
    font-weight: 300;
}

.discount-h3 {
    font-size: 48px;
    color: #070211;
    font-weight: 700;
}

.discount-img {
    margin-top: 48px;
}

/* <!-- Welcome to midnight party section --> */
.wellcome {
    border: 0px solid red;
    border-radius: 17px;
    width: 1320px;
    height: 600px;
    background-image: url(images/Vectorrr.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;

}

.welcome-shadow {
    background-image: linear-gradient(90deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0.1));
    border-radius: 18px;
    padding: 25px;
    position: relative;
}

.wellcome-text {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;


}

.wellcome-h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
    display: block;
    margin-bottom: 24px;
}

.wellcome-p {
    font-size: 18px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    margin-top: 48px;
}

.wellcome-h6 {
    font-size: 20px;
    font-weight: 700;
    color: white;
    display: block;
    margin-top: 24px;
}

.wellcome-img {
    padding: 10px;
}

/* loction */

.location {
    border: 0px solid red;
    border-radius: 17px;
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(rgba(255, 0, 0, .2), rgba(255, 0, 0, 0));
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
}



.location-text {
    font-size: 32px;
    text-align: center;
    padding: 100px;


}

#red {
    color: red;
}

.location-btn {
    background: red;
    color: white;
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 5px;
    margin: 100px;


}

/* best-offer section */
.best-offer {
    display: flex;
    justify-content: space-between;
    border-radius: 17px;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 120px;
}

.best-offer-left-h5 {
    color: red;
    font-size: 24px;
    font-weight: 300;
}

.best-offer-left-h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 600;
}

.best-offer-left-p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
}

.best-offer-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid red;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 40px;

}

.best-offer-left {
    padding-top: 104px;
    margin-right: 70px;
}

.best-offer-right {
    padding-top: 112px;
    margin-left: 118px;
}

.best-offer-right-h3 {
    color: red;
    font-size: 48px;
    font-weight: 600;
}

.best-offer-right-p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
}

.best-offer-right-img {
    margin-top: 43px;
}

/* Holidays-Sale section */
.Holidays-Sale {
    border-radius: 17px;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 120px;
}

.Holidays-Sale-text {
    text-align: center;
}

.Holidays-Sale-p1 {
    font-size: 24px;
    font-weight: 400;
    color: #070211;
}

.Holidays-Sale-h1-span {
    color: red;
}

.Holidays-Sale-h1 {
    font-size: 72px;
    font-weight: 700;
    color: #070211;
}

.Holidays-Sale-p2 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}

.Holidays-Sale-img {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 64px;
    margin-bottom: -150px;
}

.Holidays-Sale-img2 {
    padding: 20px;
    margin-left: 250px;
    margin-bottom: 80px;
}

.Holidays-Sale-bt-img {
    padding-bottom: 120px;
}

/* product portfolio section */
.portfolio {
    border-radius: 17px;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 120px;
    padding-top: 300px;
}

.portfolio-img-box {
    width: 410px;
    height: 435px;
    padding: 24px;
    margin-left: -23px;
}

.portfolio-p1 {
    font-size: 24px;
    font-weight: 400;
    color: red;
}

.portfolio-h3 {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
}

.portfolio-p2 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}

.portfolio-all-item {
    padding-bottom: 120px;
}



/* Subscribe section */

.Subscribe-all {
    padding-top: 400px;
}

.Subscribe {
    border: 0px solid red;
    border-radius: 17px;
    width: 1320px;
    height: 600px;
    background-color: rgba(255, 0, 0, 0.05);
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.Subscribe-padding {
    padding: 80px;
}

.Subscribe-text {
    text-align: center;
}

.Subscribe-h1 {
    font-weight: 700;
    font-size: 48px;
    color: #070211;

}

.Subscribe-p {
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    padding: 0px 0px 80px 80px;

}

.Subscribe-mail-sub-btn {
    display: flex;
    border-radius: 50px;
    overflow: hidden;

}

.Subscribe-input {
    border: none;
    padding: 15px 20px;
    font-size: 20px;
    width: 648px;
    height: 72px;
    flex: 1;

}

.Subscribe-btn {
    text-align: center;
    background: red;
    color: white;
    border: none;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    width: 210px;
    height: 72px;
    border-radius: 50px;
}